.Header
  z-index: 1
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: $header-height
  padding: 0 24px
  background-color: white
  box-shadow: rgba(black, .1) 0px 1px 6px,
              rgba(black, .1) 0px 1px 4px
