{
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "UI.createElement"
    }]
  ],
  "presets": [
    ["modern-browsers", {
      "loose": true,
      "modules": false
    }],
    "stage-1"
  ]
}
