*
  box-sizing: border-box

html
  font-family: 'Helvetica', sans-serif

body
  margin: 0

svg
  overflow: hidden

$header-height = 64px

.Box
  display: flex

  &.align-items
    &--flex-start
      align-items: flex-start

    &--flex-end
      align-items: flex-end

    &--space-between
      align-items: space-between

    &--space-around
      align-items: space-around

    &--center
      align-items: center

  &.justify-content
    &--flex-start
      justify-content: flex-start

    &--flex-end
      justify-content: flex-end

    &--space-between
      justify-content: space-between

    &--space-around
      justify-content: space-around

    &--center
      justify-content: center

  &.center
    align-items: center
    justify-content: center

  &.column
    flex-direction: column

  &.fit
    width: 100%
    height: 100%

.Page
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%

.Header
  z-index: 1
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: $header-height
  padding: 0 24px
  background-color: white
  box-shadow: rgba(black, .1) 0px 1px 6px,
              rgba(black, .1) 0px 1px 4px

.Logo
  font-size: 18px
  font-weight: bold
  color: #111

.Search
  position: relative
  width: 100%
  max-width: 512px
  height: 40px

  .icon
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 40px
    height: 40px
    padding: 11px 11px 12px 13px
    transition: fill .2s ease-in-out
    fill: #999

  input
    border: 0
    height: 100%
    width: 100%
    padding: 0 30px 0 42px
    font-size: 14px
    color: #111
    background-color: #eee
    border: 1px solid transparent
    border-radius: 20px
    transition: all .2s ease-in-out
    outline: none

    &:focus
      background-color: white

    &:focus, &:hover
      border-color: #d1d1d1

.ScrollView
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: scroll

.PhotoStream
  padding-top: $header-height

  & > *
    width: 33.3333%
    height: 0
    padding-bottom: 22.2222%
    float: left

.PhotoPreview
  position: relative
  background-size: cover

  &:before
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 0.65) 100%)

  .details
    position: absolute
    left: 0
    bottom: 0
    padding: 12px
    color: white

    & > *:not(:last-child)
      margin-bottom: 4px

    .author
      font-size: 18px
      font-weight: 400

    .location
      font-weight: 200

.PhotoThumbnail
  cursor: pointer

.Lightbox
  z-index: 10
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  opacity: 0
  transition: all .2s ease-in-out
  pointer-events: none

  &.open
    opacity: 1
    pointer-events: auto

  .canvas
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 80%
    height: 80%
    background-color: white
    background-size: cover
    box-shadow: rgba(black, 0.2) 0px 1px 6px,
                rgba(black, 0.2) 0px 1px 4px

    &:hover
      .button
        opacity: 1

    .PhotoPreview
      width: 100%
      height: 100%

    .button
      position: absolute
      top: 50%
      transform: translateY(-50%)
      padding: 32px 12px
      font-size: 32px
      color: white
      background-color: rgba(black, 0.25)
      border: 0
      opacity: 0
      transition: all .2s ease-in-out
      cursor: pointer
      outline: none

      &:hover
        background-color: rgba(black, 0.55)

      &.left
        left: 0

      &.right
        right: 0

.Overlay
  z-index: 0
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(black, 0.75)
