*
  box-sizing: border-box

html
  font-family: 'Helvetica', sans-serif

body
  margin: 0

$header-height = 64px

.Box
  display: flex

  &.align-items
    &--flex-start
      align-items: flex-start

    &--flex-end
      align-items: flex-end

    &--space-between
      align-items: space-between

    &--space-around
      align-items: space-around

    &--center
      align-items: center

  &.justify-content
    &--flex-start
      justify-content: flex-start

    &--flex-end
      justify-content: flex-end

    &--space-between
      justify-content: space-between

    &--space-around
      justify-content: space-around

    &--center
      justify-content: center

  &.center
    align-items: center
    justify-content: center

  &.column
    flex-direction: column

  &.fit
    width: 100%
    height: 100%

.Page
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%

.Header
  z-index: 1
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: $header-height
  padding: 0 24px
  background-color: white
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
              rgba(0, 0, 0, 0.117647) 0px 1px 4px

.Logo
  font-size: 18px
  font-weight: bold
  color: #111

.Search
  width: 100%
  max-width: 512px
  height: 40px
  padding: 0 30px 0 42px
  font-size: 14px
  color: #111
  background-color: #eee
  border: 1px solid transparent
  border-radius: 20px
  outline: none
  transition: all .2s ease-in-out

  &:focus
    background-color: white

  &:focus, &:hover
    border-color: #d1d1d1

.ScrollView
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: scroll

.PhotoStream
  margin-top: $header-height

  & > *
    width: 33.3333%
    height: 0
    padding-bottom: 22.2222%
    float: left

.PhotoThumbnail
  position: relative
  background-size: cover
  cursor: pointer

  &:hover
    &:before, .details
      opacity: 0

  &:before
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%)
    opacity: 1
    transition: all .2s ease-in-out

  .details
    position: absolute
    left: 0
    bottom: 0
    padding: 12px
    color: white
    opacity: 1
    transition: all .2s ease-in-out

    & > *:not(:last-child)
      margin-bottom: 4px

    .author
      font-size: 18px
      font-weight: 400

    .location
      font-weight: 200
